# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8-bom
insert_final_newline = true
trim_trailing_whitespace = true

# C++ source files
[*.{cpp,h,hpp,ixx,c,cc,cxx}]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
